<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="source" value="C:\Projetos-main\Projetos-main\source" />
    <add key="replica" value="C:\Projetos-main\Projetos-main\replica" />
    <add key="logPath" value="C:\Projetos-main\Projetos-main\Logs" />
    <add key="logFileName" value="\log.txt" />
    <add key="frequency" value="10" />
  </appSettings>
</configuration>